h1 {
    margin: 3rem;
    text-align: center;
}

.contentExam{
    width: 100%;
}

.contentExam table{
    width: 90%;
    border-collapse:collapse ;
    margin: auto;
}

.contentExam th, td{
    text-align: center;
    padding: 0.8rem;
    border: 1px solid black;
 
}

.contentExam th{
   background-color: #0d3f4d;
   color: white;
}

td > span{
    font-size: 1.5em;
    cursor: pointer;
}
