@import url("../header/header.css");

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.container .title-page{
    align-items: center;
    background: rgba(0, 0, 0, .2);
    display: flex;
    font-family: serif;
    font-size: .7rem;
    justify-content: center;
    height: 2rem;
    width: 100%;
}
.container section{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    width: 100%;
}
.container section .todays-interview h3, .container section .applicant-woexam h3{
    background: #0D3F4D;
    height: 2rem;
    color: rgb(201, 201, 201);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    padding-left: .5rem;
}


.container section .todays-interview{
    width: 45%;
}
table{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}
thead{
    background: white;
    border-bottom: solid 3px #0D3F4D;
}
th,td{
    border-bottom: solid 1px grey;
    padding: .3rem;
}
tbody tr:nth-child(odd){
    background-color: rgba(1, 203, 184, .3);
}





.container section .applicant-woexam{
    width: 45%;
}