@import url("../components/header/header.css");

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.container .title-page{
    align-items: center;
    background: rgba(0, 0, 0, .2);
    display: flex;
    font-family: serif;
    font-size: .7rem;
    justify-content: center;
    height: 2rem;
    width: 100%;
}
.container section{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    width: 100%;
}
.container section div h3{
    background: #0D3F4D;
    height: 2rem;
    color: rgb(201, 201, 201);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: .5rem;
}
.container section div{
    width: 45%;
}
table{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}
thead{
    background: white;
    border-bottom: solid 3px #0D3F4D;
}
th,td{
    border-bottom: solid 1px grey;
    padding: .3rem;
}
tbody tr:nth-child(odd){
    background-color: rgba(1, 203, 184, .3);
}
tbody tr:hover{
    background: rgba(231, 136, 160, .5);
}
tbody tr td .btn-add-inter{
    width: 1.3rem;
    height: 1.3rem;
    background: none;
    border: none;
    cursor: pointer;
}
tbody tr td .btn-add-inter:hover,
tbody tr td .btn-add-inter:focus{
    transform: scale(1.1);
    transition: .2s;
}
tbody tr td .btn-add-inter i{
    font-size: 1.3rem;
    color: black;
}
.modal-background{
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    display: none;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.show{
    display: flex;
    pointer-events: auto;
}
.modal{
    background-color: #fff;
    width: 80%;
    max-width: 100%;
    padding: 1rem 2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .3);
    text-align: center;
}
.modal .modal-title{
    margin: 0;
}
.modal .modal-text{
    opacity: 0.8;
    font-size: 1rem;
    margin-bottom: 1rem;
}
@media (max-width:992px){
    .container section{
        align-items: center;
        flex-direction: column;
    }
    .container section div h3{
        justify-content: center;
    }
    .container section div{
        margin-bottom: 2rem;
        width: 90%;
    }
}
@media (max-width: 576px){
    .container section div{
        width: 100%;
    }
}