@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;   
    font-family: 'Fredoka', sans-serif;
}
header{
    background: rgba(0, 0, 0, .2);
    /*display: flex;*/
}
.space-logo{
    width: 100%;
    height: 6rem;
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.space-logo h2{
    margin-left: 2rem;
    font-family: 'Titillium Web', sans-serif;
    color: #0D3F4D;
    font-size: 3rem;
}
.space-logo h3{
    margin: 1rem 0 0 3rem;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
}
header nav{
    height: 2.5rem;
    background: #0D3F4D;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
header nav a{
    flex-direction: column;
    color: whitesmoke;
    text-decoration: none;
    padding: .5rem 1rem;
    margin: 0 .5rem;
    border-radius: .1rem;
}
header nav .item{
    background: rgba(255, 255, 255, .05);
    cursor: pointer;
}
header nav a:hover{
    background: rgba(255, 255, 255, .1);
    transition: .3s;
}